[submodule "caddy/caddy"]
	path = caddy/caddy
	url = git@github.com:caddyserver/caddy.git
[submodule "linux_dash/dash"]
	path = linux_dash/dash
	url = git@github.com:afaqurk/linux-dash.git
[submodule "huproxy/huproxy"]
	path = huproxy/huproxy
	url = git@github.com:google/huproxy.git
