Package: deepin-elf-verify
Version: 1.0.0.1-1
Section:
Priority: optional
Depends:
Suggests:
Architecture: all
Installed-Size: 0
Maintainer: SpringHack
Provides: SpringHack
Description: A fake package for bypassing uos verify
