body {
  font-family: monospace;
}
input[title=Password][type=password]#password {
  font-family: monospace;
  border-radius: 11px;
  text-align: center;
}
span.windowicon img.windowicon {
  position: relative;
  height: 20px;
  width: 20px;
  left: 5px;
  top: 5px;
}
span.windowbuttons span {
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  margin-right: 4px;
  display: flex;
  height: 12px;
  width: 12px;
}
span.windowbuttons span img {
  height: 10px;
  width: 10px;
  opacity: 0;
}
span.windowbuttons:hover span img {
  opacity: 0.5;
}
span.windowbuttons span {
  background-color: #c5c5c5;
  opacity: 0.6;
}
.windowinfocus span.windowbuttons span:nth-child(1) {
  background-color: #febc2e;
  opacity: 1;
}
.windowinfocus span.windowbuttons span:nth-child(2) {
  background-color: #28c840;
  opacity: 1;
}
.windowinfocus span.windowbuttons span:nth-child(3) {
  background-color: #ff5f57;
  opacity: 1;
}
div.windowhead span.windowtitle {
  font-family: monospace !important;
  padding-right: 0px !important;
  width: calc(100% - 162px);
  padding-left: 50px;
  text-align: center;
  line-height: 20px;
}
div.windowhead span.windowbuttons {
  justify-content: flex-end;
  flex-flow: row-reverse;
  display: flex !important;
  align-items: center;
  padding-right: 0;
  height: 16px;
  width: 50px;
  left: 30px;
}
.window.border {
  border-color: #b7b7b7 !important;
}
#float_menu #float_tray {
  left: calc(100% + 1px);
  top: calc(-3px - 100%);
  position: relative;
  clear: none;
  float: none;
}
#float_menu .window.tray {
  background-color: transparent !important;
}
#float_menu #float_tray .window.tray canvas {
  border-radius: 10px;
}
